body {
  background-color: #FAF9F6;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensure the canvas fills the screen */
}

h4 {
  font-family: 'Roboto', sans-serif;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #FAF9F6;
}

.hidden {
  display: none;
}
