@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensure the canvas fills the screen */
}

h4 {
  font-family: 'Libre Baskerville'; /* Ensure correct font-family */
  color: '#7b1fa2'; /* Ensure font weight if necessary */
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
}

.hidden {
  display: none;
}
